@use 'helpers/variables';

:root {
    scroll-behavior: smooth;
    scroll-padding-top: 5em;
    background-color: variables.$bg-colour;
}

/* MAIN DIV CONTAINER IN WHICH EVERYTHING IS PLACED */
.container {
    margin-top: 50px;
}

section {
    padding-top: 20px;
}

h2 {
    font-size: 2rem;
}

/* LINKS */
a {
    color: black;
    text-decoration: none;
    &:hover {
    color: #324677;
    }
}

/* NAV BAR */
#nav {
    margin: 13px 0;
    text-align: end;
    a:hover {
    text-decoration: underline;
    }
    ul li {
    display: inline;
    margin: 0 20px 130px 0;
    }
}

/* SOCIAL ICONS */
.socials ul li {
    display: inline;
    margin: 0 20px 0 0;
}
#nav-socials {
    float: right;
}

/* FEATURES (1/3rd column each) */
.feature {
    margin-bottom: 30px;
    img {
    margin-bottom: 15px;
    height: auto;
    }
}